.overview {
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .overview-total {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total-amount {
      font-weight: 600;
    }
  }

  .overview-wallets {
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wallet {
      width: 100%;
      padding: 3px 0px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
    }
  }
}