.record-item {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: $background-tertiary;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 8px;

  .record-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .record-item-bold {
      font-weight: 600;
    }

    .record-item-small {
      font-size: 12px;
    }
  }
}