// Accent Colors
$accent: #03B897;
$accent-light: #13caa9;
$accent-dark: #029e81;

// Neutral Colors
$white: #FFFFFF;
$black: #222222;
$gray-dark: #2D2D2D;
$gray: #3A3A3A;
$gray-light: #484848;

// Text Colors
$text-primary: $white;

// Background Colors
$background: $black;
$background-primary: $gray-dark;
$background-secondary: $gray;
$background-tertiary: $gray-light;