@import 'colors';
@import 'global';
@import './components/header';
@import './components/navbar';
@import './components/overview';

.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
