@import './utils/colors';
@import './utils/global';
@import './utils/text';
@import './components/header';
@import './components/navbar';
@import './components/overview';
@import './components/pageContainer';
@import './components/records';
@import './components/recordItem';
@import './components/addRecordItem';
@import './components/logIn';

.home, .login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
