// Accent Colors
$accent: #03B897;
$accent-light: #13caa9;
$accent-dark: #029e81;

// Neutral Colors
$white: #FFFFFF;
$black: #222222;
$gray-dark: #2D2D2D;
$gray: #3A3A3A;
$gray-light: #484848;
$gray-lighter: #7e7e7e;

// Text Colors
$text-primary: $white;
$text-dark: $gray-lighter;
$text-light: #a0a0a0;

// Background Colors
$background: $black;
$background-primary: $gray-dark;
$background-secondary: $gray;
$background-tertiary: $gray-light;

// Error Colors
$error: #ec4848;

// Success Colors
$success: #69cd6c;