@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #1d1b1d;
  font-family: "Poppins", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  /* border: 1px solid #1d1b1d; */
  padding: 2px;
  text-align: center;
  color: #f3e2ec;
  /* background-color: #242224; */
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #f3e2ec;
  border-right-color: #f0289d;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

h1,
p {
  color: #f3e2ec;
}

button {
  color: #f3e2ec;
  background-color: #f0289d;
}
